@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0D0F;
  color: #F5F0E8;
  font-family: 'Noto Sans JP', sans-serif;
}
